# .nixpacks.toml

[phases.setup]
nixPkgs = ["python311", "gcc"]

[phases.install]
cmds = [
  "python3.11 -m venv /opt/venv",
  ". /opt/venv/bin/activate",
  "pip install -r requirements.txt"
]

[start]
cmd = "python bot.py"
